body {
  background-color: #ffffff;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
margin: 0;

}




.container {
  /*width: 750px;*/
  border: 1px solid grey;
  min-height: 667px;
  /*margin: 0 auto;*/


}




.navBar {
  height: 88px;
  border-bottom: 1px solid grey;

}
.main {


}

.checkIn {
  background-color: #2096f3;
  min-height: 1334px;
  color: #ffffff;
}
.navBottom {
  background-color: #2096f3;
  height: 30px;
  color: #ffffff;

}
