body {

  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  margin: 0;

}




.container1 {
  /*width: 750px;*/

  min-height: 670px;
  /*margin: 0 auto;*/


}

.logo {
  position: absolute;
  left: 62%;
  top: 10%;
  margin-left: -180px;
  margin-top: -130px;
}

.container1 {
  background-color: white;
}

.container1 p {
  font-size: 25pt;
  padding-left: 20px;
}

.containerNav {
  background-color: #323232;
  min-height: 800px;
}

.containerNav p {
  font-size: 25pt;
  padding-left: 20px;
}
.navBar {
  height: 88px;
  background-color: white;

}

.navBar p {
  color: black;
  float: right;
  font-size: 25pt;
  padding-top: 21px;
  padding-right: 12px;
}

.navBar1 {
  height: 125px;
  background-color: white;
  box-shadow: 10px 10px 5px #888888;
}

.navBar1 p {
  color: black;
  float: right;
  font-size: 25pt;
  padding-top: 21px;
  padding-right: 12px;
}

.main {


}

.trophy {
  margin-top: 110px;

}

.midIcon {
  position: absolute;


}


.homeBack {
  background-color: #ffffff;
  height:100vh;
  color: #000000;
  border: none;
}

.homeBack h1 {
  text-align: center;
  padding-top: 100px;
  font-size: 60pt;
}

.homeBack h2 {
  text-align: center;
  font-size: 30pt;
  font-weight: lighter;

}

.navBack {
  background-color: #323232;
  height:100vh;
  color: #000000;
  border: none;
}

.navBack h1 {
  text-align: center;
  padding-top: 100px;
  font-size: 60pt;
}

.navBack h2 {
  text-align: center;
  font-size: 30pt;
  font-weight: lighter;

}


.checkIn {
  background-color: #2096f3;
  height:100vh;
  color: #ffffff;
  border: none;
}

.checkIn h1 {
  text-align: center;
  padding-top: 100px;
  font-size: 60pt;
}

.checkIn h2 {
  text-align: center;
  font-size: 30pt;
  font-weight: lighter;

}

.selectBox {
  background-color: #ffffff;
  height: 40%;
  width: 90%;
  margin: auto;

}


.selectBox2 {
  background-color: #ffffff;
  height: 58%;
  width: 90%;
  margin: auto;

}

.selectBox3 {
  background-color: #ffffff;
  height: 58%;
  width: 90%;
  margin: auto;

}

.selectBox4 {
  background-color: #ffffff;
  height: 42%;
  width: 90%;
  margin: auto;

}

.selectBox5 {
  background-color: #ffffff;
  height: 15%;
  width: 90%;
  margin: auto;

}

.selectBoxNav {
  background-color: #323232;
  height: 40%;
  width: 90%;
  margin: auto;

}

.selectBox p {
  color: black;
  font-size: 30pt;
  padding-top: 40px;

}


.selectBox2 p {
  color: black;
  font-size: 30pt;
  padding-top: 20px;




}

.selectBoxNav p {
  color: white;
  font-size: 30pt;
  padding-top: 61px;




}

.selectBox3 p {
  color: black;
  font-size: 30pt;
  padding-top: 40px;
  padding-left: 50px;


}

.selectBox4 p {
  color: black;
  font-size: 30pt;
  padding-top: 40px;
  padding-left: 50px;

}

.selectBox5 p {
  color: black;
  font-size: 30pt;
  padding-top: 30px;
  padding-left: 50px;

}

.select {
    border:0;
    background:transparent;
    height:32px;
    border:1px solid #d8d8d8;
    width:350px;
    -webkit-appearance: none;
}

.trophy {
  margin-top: 57px;
}

.bike {
  padding-right: 14px;
  margin-top: 11px;
}
.navBottom {
  color: #2096f3;
  border: none;


}

.navBottom h2 {
  color: #ffffff;
  font-size: 35pt;



}


.button {
  background-color: #323232;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 60px;
  color: white;
  width: 600px;
  height: 150px;
  border-radius: 1px;
   -moz-border-radius: 1px;
   -webkit-border-radius: 1px;

}

.arrow1 {
  transform: rotate(270deg);
  height: 130px;
}

.arrow2 {
  transform: rotate(90deg);
  height: 130px;
}


.stat li {
  text-align: center;
  font-size: 30pt;
  color: #9fa2a3;
  padding-top: 20px;
  padding-left: 95px;
}

.circle {
	width: 40px;
	height: 40px;
	background: #f44336;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
   margin-right: 15px;
}

.circleRow {
  display:flex;
  position: absolute;
  left: 41%;
  margin-top: 40px;


}

.circles {
  margin-top: 68px;
  margin-right: -14px;

}

.checkicon {
  margin-top: -180px;
}

.navBottom h1 {
  color: #ffffff;
  font-size: 35pt;
  margin-top: 10px;
  margin-bottom: 50px;


}
.container {
  margin: 80px auto;
  width: 90%;
  text-align: center;
}

.container > .dropdown {
  margin: 0 20px;
  vertical-align: top;
}

.dropdown {
  display: inline-block;
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 90%;
  background: #f2f2f2;
  border: 1px solid;
  border-color: white #f7f7f7 whitesmoke;
  border-radius: 3px;
  background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
  background-image: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
  background-image: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.06));
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
}

.dropdown:before, .dropdown:after {
  content: '';
  position: absolute;
  z-index: 2;
  top: 9px;
  right: 10px;
  width: 0;
  height: 0;
  border: 4px dashed;
  border-color: #888888 transparent;
  pointer-events: none;
}

.dropdown:before {
  border-bottom-style: solid;
  border-top: none;
}

.dropdown:after {
  margin-top: 7px;
  border-top-style: solid;
  border-bottom: none;
}

.dropdown-select {
  position: relative;
  width: 130%;
  margin: 0;
  padding: 6px 8px 6px 10px;
  height: 50%;
  line-height: 14px;
  font-size: 25pt;
  color: #62717a;
  text-shadow: 0 1px white;
  background: #f2f2f2;
  background: rgba(0, 0, 0, 0) !important; /* "transparent" doesn't work with Opera */
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
}

.dropdown-select:focus {
  z-index: 3;
  width: 100%;
  color: #394349;
  outline: 2px solid #49aff2;
  outline: 2px solid -webkit-focus-ring-color;
  outline-offset: -2px;
}

.dropdown-select > option {
  margin: 3px;
  padding: 6px 8px;
  text-shadow: none;
  background: #f2f2f2;
  border-radius: 3px;
  cursor: pointer;
}


.lt-ie9 .dropdown {
  z-index: 1;
}

.lt-ie9 .dropdown-select {
  z-index: -1;
}

.lt-ie9 .dropdown-select:focus {
  z-index: 3;
}


@-moz-document url-prefix() {
  .dropdown-select {
    padding-left: 6px;
  }
}

.dropdown-dark {
  background: #444;
  border-color: #111111 #0a0a0a black;
  background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.4));
  background-image: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.4));
  background-image: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.4));
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.4));
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), 0 1px 1px rgba(0, 0, 0, 0.2);
}

.dropdown-dark:before {
  border-bottom-color: #aaa;
}

.dropdown-dark:after {
  border-top-color: #aaa;
}

.dropdown-dark .dropdown-select {
  color: #aaa;
  text-shadow: 0 1px black;
  background: #444;  /* Fallback for IE 8 */
}

.dropdown-dark .dropdown-select:focus {
  color: #ccc;
}

.dropdown-dark .dropdown-select > option {
  background: #444;
  text-shadow: 0 1px rgba(0, 0, 0, 0.4);
}

.background {
  background-repeat:no-repeat;
  background-size:cover;
}



.onText h1 {
  text-align: center;
  padding-top: 100px;
  font-size: 60pt;
  color: white;
}

.onText h2 {
  text-align: center;
  font-size: 30pt;
  font-weight: lighter;
  color: white;
}

.login {
  display:flex;
  position: absolute;
  left: 32%;
  margin-top: 40px;

}
.login h1 {
  text-align: center;
  font-size: 30pt;
  font-weight: lighter;
  color: white;
}


.fbIcon {

}
.input {
    background-color:transparent;
    border: 0px solid;
    height:30px;
    width:260px;
}
.input:focus {
    outline:none;
}
