body {
  background-color: #ffffff;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
margin: 0;

}




.container {
  /*width: 750px;*/

  min-height: 667px;
  /*margin: 0 auto;*/


}

.logo {

}


.navBar {
  height: 88px;

}

.navBar p {

}
.main {


}

.checkIn {
  background-color: #2096f3;
  height: 1334px;
  color: #ffffff;
}

.checkIn h1 {
  
}
.navBottom {
  background-color: #2096f3;
  height: 30px;
  color: #ffffff;

}
